@{
    ViewBag.SearchQuery = Request.QueryString["query"];
}

    @using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
    {
        <div class="input-group">
            <input type="text" class="form-control" name="query" value="@ViewBag.SearchQuery" placeholder="Search in comments...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" title="Search in comments">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    }

